[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
selenium = "*"
requests = "*"
bs4 = "*"
datetime = "*"
dynaconf = "*"
pytesseract = "*"
schedule = "*"
click = "*"
pillow = "*"
pandas = "*"
sqlalchemy = "*"
pymysql = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
